fLight = 300
fRegular = 400
fMedium = 500
fBold = 700 
fBlack = 900

cWhite = #ffffff
cBlack = #1d1d1d
cGray = #6e6e6e
cbl = #27AEC2

fr = "Gotham-Book", sans-serif
fb = "Gotham-Bold", sans-serif
fm = "Gotham-Medium", sans-serif
fl = "Gotham-Light", sans-serif

@font-face
	font-family: 'Gotham-Book'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Gotham-Book/Gotham-Book.eot")
	src: url("../fonts/Gotham-Book/Gotham-Book.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Gotham-Book/Gotham-Book.woff") format("woff"),
	url("../fonts/Gotham-Book/Gotham-Book.ttf") format("truetype")

@font-face
	font-family: 'Gotham-Bold'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Gotham-Bold/Gotham-Bold.eot")
	src: url("../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"),
	url("../fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype")
@font-face
	font-family: 'Gotham-Medium'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Gotham-Medium/Gotham-Medium.eot")
	src: url("../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Gotham-Medium/Gotham-Medium.woff") format("woff"),
	url("../fonts/Gotham-Medium/Gotham-Medium.ttf") format("truetype")
@font-face
	font-family: 'Gotham-Light'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Gotham-Light/Gotham-Light.eot")
	src: url("../fonts/Gotham-Light/Gotham-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Gotham-Light/Gotham-Light.woff") format("woff"),
	url("../fonts/Gotham-Light/Gotham-Light.ttf") format("truetype")

body
html
	font-family fr