.footer
	position absolute
	left 0
	bottom 0
	width 100%
	background: #ffffff
	padding-top 70px
	overflow hidden

	.footer-top
		padding-bottom 50px

	h4
		font-family: fm
		font-size: 24px
		line-height: 1.5
		color: #29354D

.logo-footer
	display inline-block
	margin-top 28px

.social-list
	display flex
	justify-content flex-end
	li
		&:not(:last-child)
			margin-right 10px
		a
			position relative
			display flex
			align-items center
			justify-content center
			width 32px
			height 32px
			brr(50%)
			background: #29354D

.list-contact
	margin-top 20px
	li
		&:not(:last-child)
			margin-bottom 25px
		a,
		span
			font-family: fr
			font-size: 16px
			line-height: 1.5
			color: #29354D
			text-decoration none
		a
			display flex
			align-items center
		span
			display inline-block
			margin-left 6px
			border-bottom 1px dashed #29354D

.foot-list
	display flex
	justify-content flex-end
	margin-top 5px

.foot-link
	display flex
	flex-wrap wrap
	margin-left auto
	max-width 200px
	justify-content space-between
	li
		// width 50%
		margin-top 25px
		a
			font-family: fl
			font-size: 16px
			line-height: 1.5
			color: #29354D
			text-decoration none

.copy-wrapper
	padding 40px 0
	text-align center
	border-top: 1px solid #B3B3B3
	p
		font-family: fl
		font-size: 16px
		line-height: 1.5
		color: #29354D