footer.footer
	.container
		.row.footer-top
			.col-md-5.logo-col
				a(href="#").logo-footer
					img(src="img/footer-logo.svg", alt="")
			.col-md-4.contact-col
				.contact-footer
					h4 Contact Us
					ul.list-contact
						li
							a(href="tel:1-888-400-9825") #[img(src="img/phone.svg", alt="")] #[span 1-888-400-9825]
						li
							a(href="mailto:contactus@thebettergrid.com") #[img(src="img/mail.svg", alt="")] #[span contactus@thebettergrid.com]
			.col-md-3.social-col
				.social-link
					ul.social-list
						li
							a(href="#")
								img(src="img/icon/social/youtube.svg", alt="")
						li
							a(href="#")
								img(src="img/icon/social/instagram.svg", alt="")
						li
							a(href="#")
								img(src="img/icon/social/in.svg", alt="")
						li
							a(href="#")
								img(src="img/icon/social/facebook.svg", alt="")
						li
							a(href="#")
								img(src="img/icon/social/twitter.svg", alt="")
				
				.foot-list
					ul.foot-link
						li
							a(href="#") Leadership
						li
							a(href="#") Investors
						li
							a(href="#") Contact
						li
							a(href="#") Careers
		
		.copy-wrapper
			p ©2020 theBetterGrid. All rights reserved.