header.header(style="background-image: url(../img/header-background.jpg)")
	
	include top-line
	
	.header-content
		.container
			h1 the Better Grid. Period.
			p Say goodbye to high electricity costs #[br]and power outages
			a(href="#").button-green Get started for $0
	
	.header-trim
		a(href="#second-section").link-bottom
			+iconSvg('18', '10', '0 0 18 10', 'arrow-bottom')