.top-line
  .container
    .logo-item
      a(href="/").logo
        img(src="img/logo.svg", alt="Logo").logo-black
        img(src="img/logo-white.svg", alt="Logo").logo-white
        
    .menu-item
      nav.menu-main
        ul
          li
            a(href="#") About Us
          li
            a(href="#") Services
          li
            a(href="#") Why microgrids?
          li
            a(href="#") New customers
          li
            a(href="#") Savings Calculator
          li
            a(href="#") Contact Us
      .login-item
        a(href="#").sign-up Sign Up
        span.separator
        a(href="#").button-login MyBetterGrid
      a(href="#").burger-menu
        span
        span
        span